/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.bg-fix {
    padding: 40px 0;
}

.donuts {
    background-image: url('images/donuts-mobile.jpg');
}

.space {
    background-image: url('images/space-mobile.jpg');
}

.skateboard {
    background-image: url('images/skateboard-mobile.png');
}

.content {
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    line-height: 1.3;
    border-radius: 2px;
    transition: all 0.25s ease;
}

.title {
    margin: 0 0 20px 0;
}

.content-figure {
    margin: 0;
}

.content-image {
    max-width: 100%;
    border: 2px solid #000;
}



/*Tablet*/
@media (min-width: 760px) {
    .content {
        width: 600px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    }

    .content:after {
    display: 'table';
    content: '';
    clear: both;
}

    .content-text {
        float: left;
        width: 260px;
        margin-right: 40px;
    }

    .content-figure {
        float: left;
        width: 220px;
    }
    .donuts {
        background-image: url('donuts-tablet.jpg');
        height: 420px;
        width: 420px;
    }
    .skateboard {
        background-image: url('skateboard-tablet.jpg');
        height: 420px;
        width: 420px;
    }
    .space { 
        background-image: url('space-tablet.jpg');
        height: 420px;
        width: 420px;
    }
}

/* high-res tablet viewports*/
@media(-webkit-min-device-pixel-ratio: 2) and (min-width: 760px) (min-resolution: 192dpi) and (min-width: 760px){
    .donuts {
        background-image: url('donuts-tablet@2x.jpg');
        background-size: 420px 420px;
    }
    .skateboard {
        background-image: url('donuts-tablet@2x.jpg');
        background-size: 420px 420px;
    }
    .space {
        background-image: url('donuts-tablet@2x.jpg');
        background-size: 420px 420px;
    }
}



/*desktop*/
@media (min-width: 1000px) {
    html, body{
        height: 100%;
    }
    .container {
        height: 100%;
    }
    .content {
        width: 800px;
        font-size: 18px;
    }

    .content-text {
        width: 360px;
    }

    .content-figure {
        width: 320px;
    }
    .bg-fix {
        height: 100%;
        padding: 40px 0;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .donuts {
        background-image: url('images/donuts-desktop.jpg');
        width: 700px;
        height: 700px;
    }
    .skateboard {
        background-image: url('images/skateboard-desktop.jpg');
        width: 700px;
        height: 700px;
    }
    .space {
        background-image: url('images/space-desktop.jpg');
        width: 700px;
        height: 700px;
    }
}

/*high-res desktop viewports*/   
@media(-webkit-min-device-ratio: 2)and (min-width: 1024px) (min-resolution: 192dpi) and (min-width: 1000px){
    .donuts {
        background-image: url('donuts-desktop@2x.jpg');
        background-size: 700px 700px;
    }
     .skateboard {
        background-image: url('skateboard-desktop@2x.jpg');
        background-size: 700px 700px;
    }
     .space {
        background-image: url('space-desktop@2x.jpg');
        background-size: 700px 700px;
    }
}


